/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    tapping-term-ms = <275>;
    quick_tap_ms = <200>;
};

&lt {
    tapping-term-ms = <275>;
    quick_tap_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lh: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9>;
        };

        rh: right_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4>;
        };

        dot_hash: dot_hash {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_HASH";
            bindings = <&kp PERIOD>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_amp: comma_amp {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_AMP";
            bindings = <&kp COMMA>, <&kp AT_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        apos_excl: apos_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "APOS_EXCL";
            bindings = <&kp SQT>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quo_ques: quo_ques {
            compatible = "zmk,behavior-mod-morph";
            label = "QUO_QUES";
            bindings = <&kp DOUBLE_QUOTES>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fslash_plus: fslash_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "FSLASH_PLUS";
            bindings = <&kp SLASH>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        fun_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_capsword {
            bindings = <&caps_word>;
            key-positions = <30 33>;
        };

        combo_z {
            bindings = <&kp Z>;
            key-positions = <1 0>;
            layers = <0>;
        };

        combo_q {
            bindings = <&kp Q>;
            key-positions = <1 2>;
            layers = <0>;
        };

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <10 0>;
            layers = <1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp J  &kp G  &kp M  &kp P         &kp V              &kp SEMICOLON  &dot_hash        &fslash_plus  &quo_ques  &apos_excl
&kp R  &kp S  &kp N  &kp D         &kp B              &comma_amp     &kp A            &kp E         &kp I      &kp H
&kp X  &kp F  &kp L  &kp C         &kp W              &kp MINUS      &kp U            &kp O         &kp Y      &kp K
                     &mt LSHIFT T  &lt 1 BACKSPACE    &lt 2 ENTER    &mt RSHFT SPACE
            >;
        };

        nav_layer {
            bindings = <
&none  &none           &none           &none         &none              &kp PSCRN  &none           &kp PG_UP           &kp INS       &none
&none  &lh LCTRL SLCK  &lh LALT PG_DN  &lh LSHIFT A  &kp END            &kp HOME   &lh RSHFT LEFT  &lh RIGHT_ALT DOWN  &lh RCTRL UP  &kp RIGHT_ARROW
&none  &kp DEL         &kp CLCK        &none         &kp PAUSE_BREAK    &none      &kp LNLCK       &kp K_CMENU         &none         &none
                                       &trans        &trans             &trans     &trans
            >;
        };

        sym_layer {
            bindings = <
&kp LBRC   &kp RBRC         &kp LPAR            &kp RPAR         &none            &none          &kp N7         &kp N8            &kp N9        &kp RA(W)
&kp GRAVE  &lh LCTRL MINUS  &lh LEFT_ALT EQUAL  &lh LSHIFT APOS  &kp FSLH         &kp BACKSLASH  &rh RSHIFT N4  &rh RIGHT_ALT N5  &rh RCTRL N6  &kp RA(L)
&kp LT     &kp GT           &kp LBKT            &kp RBKT         &kp SEMICOLON    &kp N0         &kp N1         &kp N2            &kp N3        &kp RA(Z)
                                                &trans           &trans           &trans         &trans
            >;
        };

        fun_layer {
            bindings = <
&kp K_PLAY_PAUSE  &kp K_MUTE        &kp C_VOLUME_UP          &kp C_BRIGHTNESS_INC  &bt BT_SEL 2    &bt BT_SEL 4    &kp F7  &kp F8  &kp F9  &kp F12
&lh LCTRL K_PREV  &lh LSHFT K_NEXT  &lh LMETA K_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &bt BT_SEL 1    &bt BT_SEL 3    &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_PRV        &bt BT_CLR        &out OUT_TOG             &bt BT_NXT            &bt BT_SEL 0    &bt BT_CLR_ALL  &kp F1  &kp F2  &kp F3  &kp F10
                                                             &trans                &trans          &trans          &trans
            >;
        };
    };
};
